
/* === Bot贸n Atr谩s === */
.boton-atras {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
}

.boton-atras:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.7);
}

/* === Bot贸n Central (Ingresar) === */
.boton-central {
  font-size: 24px;
  background: none;
  cursor: pointer;
  padding: 12px 40px;
  border-radius: 20px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

/* === Bot贸n Flecha (izquierda/derecha) === */
.boton-flecha {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === Descripci贸n del Planeta (InfoBox) === */
.descripcion-planeta {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 24px;
  margin: 32px;
  border-radius: 10px;
  pointer-events: auto;
  max-width: 600px;
  text-align: center;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

/* === Div centrado con t铆tulo === */
.div-centrado {
  width: 100%;
  height: 100dvh; /*  Antes estaba en 100%, ahora usamos vh */
  position: relative;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border: 2px dashed red; /* Para ver el contorno */
  background: rgba(0, 0, 0, 0.2); /* Ayuda a identificarlo */

}

.div-centrado h1 {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: auto;
  font-size: 36px;
  text-shadow: 
  -1px -1px 2px black,
   1px -1px 2px black,
  -1px  1px 2px black,
   1px  1px 2px black;

}

/* === Contenedor de Botones (abajo centrado) === */
.botones-galaxia {
  display: flex;
  align-items: center;
  gap: 32px;
  pointer-events: auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.tarjeta-confirmacion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.tarjeta-contenido {
  text-align: center;
  color: white;
}

.tarjeta-contenido h2 {
  margin-bottom: 20px;
}

.botones button {
  background-color: #FF746C;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.botones button:hover {
  background-color: #ff4b39;
}