@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

    body {
        margin: 0;
        overflow: auto;
        height: 400vh; /* Valor para PC */
    }
    .app-container{
        height: 100vh; /* Valor para PC */

    }

    /* Estilos para tablet */
    @media (max-width: 1245px) {
        body {
            height: 420vh;
        }
    }

    /* Estilos para móvil */
    @media (max-width: 768px) {
        body {
            height: 700vh;/*380*/
        }
    }

    /* Fondo Canvas */
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0; /* Asegura que el canvas quede detrás del contenido */
    }

    /* Contenedor de las secciones */
    .sections-container {
        position: relative;
        z-index: 1; /* Superpone las secciones sobre el canvas */
    }

    /* Estilo de las secciones */
    .section {
        width: 100%;
        height: 0;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: white;
        text-shadow: 1px 1px 5px black;
        background: transparent; /* Deja el fondo transparente para que se vea el canvas */
    }

    .section:nth-child(odd) {
        background: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    }

    .section:nth-child(even) {
        background: rgba(51, 51, 51, 0.4); /* Fondo semitransparente */
    }

    /* Título principal */
    h1 {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 3rem;
        color: white;
        text-shadow: 2px 2px 10px black;
        z-index: 2; /* Superpone el título */
    }
    .sections-container {
        position: relative;
        z-index: 1;
        transition: opacity 1s ease-in-out;  /* Transición suave de opacidad */
    }
    
    .sections-container.hidden {
        opacity: 0;  /* Hace que las secciones desaparezcan suavemente */
    }

    #canvas-bg-galaxia > canvas:nth-child(1){
        display: none !important;
    }

    h1.titulo-grande {
        font-family: "Bebas Neue", sans-serif !important;
        font-weight: 400;
        font-style: normal;
        font-size: 92px;
        position: relative;

        text-shadow: 0 .5rem 30px black;

    }
    h2.titulo-grande {
        font-family: "Bebas Neue", sans-serif !important;
        font-weight: 400;
        font-style: normal;
        font-size: 56px;
        position: relative;
        text-align: center;
        text-shadow: 0 .5rem 30px black;
    }
    
.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
  }

  .category-info {
    box-sizing: border-box;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }

  .category-card {
    box-sizing: border-box;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
  }
  .category-card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .category-card > div > * {
    line-height: 0;
    font-size: 1.5rem;
  }

  .category-card > button {
    color: white;
    padding: 1.5rem 3.5rem;
    border-radius: 1rem;
    border: solid 2px rgb(224, 224, 224);
    background-color: rgba(0, 0, 0, 0.651);

    box-shadow: 0 0 10px 0px rgb(224, 224, 224);
    cursor: pointer;
    transition: all 500ms ease;
  }

  .category-card > button:hover {
    background-color: rgb(224, 224, 224);
    color: black;
    font-size: 14px;
    box-shadow: 0 0 0px 0px rgb(224, 224, 224);
    transform: scale(110%);
    transition: all 300ms ease;
  }

  @media only screen and (max-width: 860px){
    .category-card {
        width: 80vw !important;
        left: 10vw !important;
        padding: 0 !important;
    }
    .category-card > button {
        width: 100%;
        padding: 0 !important;
        border-radius: .5rem;
        transform: translateY(5rem);
        box-shadow: 0 0 10px 0px rgb(224, 224, 224);
        transition: all 500ms ease;
    }
    .category-card > button:hover {
        box-shadow: 0 0 0px 0px rgb(224, 224, 224);
        transform: translateY(5rem) scale(110%);
        transition: all 300ms ease;
      }
    .titulo-grande {
        font-size: 70px;

        text-shadow: 0 .5rem 30px black;
        margin: 2rem 2rem !important;
    }
    div:has(>.titulo-grande) + p {
        margin: 2rem 2rem !important;
    }
    div:has(>.titulo-grande){
        height: 70vh !important;
    }
  }

  .cursor {
    /*border-right: 0.15em solid orange; */
    font-size: 80px;
    font-weight: 100 !important;
    animation: blink 0.75s step-end infinite;
  }
  
  @keyframes blink {
    from, to { color: transparent }
    50% { color: white; }
  }

  @keyframes appear {
    0%{
        transform: translate(1rem, -10rem);
    }
    20%{
        transform: translate(0rem, -8rem) rotate(-3deg);

    }
    40%{
        transform: translate(-1rem, -6rem);

    }
    60%{
        transform: translate(0rem, -4rem) rotate(3deg);

    }
    80%{
        transform: translate(1rem, -2rem);

    }
    100%{
        transform: translate(0rem, 0rem) rotate(00deg);

    }
  }
  .anim-entry {
    animation: appear 1s linear 1;
  }
  .titulo-individual > span {
    transform: scale(110%) !important;
    
  }
  .titulo-individual > span:hover {
    color: bisque;
  }

  .btn-galaxia {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: none;
    transition: all 200ms ease;
    cursor: pointer;
  }

  .btn-galaxia:hover {
    transform: scale(104%);
    transition: all 200ms ease;
  }

  .fondo-categoria{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:1;
    backdrop-filter: brightness(120%) saturate(50%);
  }

  .texts-blacker > *:not(button) {
    text-shadow: 0 0 4px black,0 0 4px black,0 0 4px black;
  }

  @media only screen and (max-width: 420px){
    h1.titulo-grande {
        font-size: 60px !important;
        margin: 2rem 2rem 2rem 0 !important;
    }
    h2.titulo-grande {
        font-size: 40px !important;
        margin: 2rem !important;
    }
    div:has(>.titulo-grande) + p {
        margin: 2rem 1rem !important;
    }
}
    